#drop-zone {
    height: 400px;
    width: 400px;
    margin-left: 100px;
    background-color: #eee;
}

#drop-zone2 {
    height: 400px;
    width: 400px;
    margin-left: 100px;
    background-color: rebeccapurple;
}
