body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/405/820/non_2x/top-view-of-coffee-book-notebook-pen-keyboard-phone-on-white-background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    padding: 2rem 1rem;
    position: relative;
    min-height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.todo-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.todo-heading {
    margin: 0;
    padding: 1.6rem 0;
    color: #fff;
    text-transform: capitalize;
}

.todo-list__item {
    border: 1px solid #ccc;
    min-height: 80vh;
    min-width: 10rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.todo-item {
    padding: 1.6rem;
    min-height: 4.4rem;
    border-radius: 0.4rem;
    color: #fff;
}

.new-item {
    margin-top: 1rem;
    background-color: lightslategray;
}

.doing-item {
    margin-top: 2.4rem;
    background-color: darksalmon;
}

.finishe-item {
    margin-top: 2.4rem;
    background-color: #4caf50;
}

.todo-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    padding: 0.4rem;
    color: #a0ffff;
    border-radius: 0.2rem;
}

.finishe-item .todo-task__title {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.4);
}

.btns {
    margin: 1rem 0;
}

.todo-item.dragging {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Kiểu cho vùng đích khi task đang được kéo vào */
.todo-list__item.dragover {
    border: 2px dashed #4caf50;
}

.todo-input {
    display: flex;
    gap: 1rem;
}

.todo-input input {
    padding: 0.4rem;
    flex: 1;
    border-radius: 0.2rem;
    border: none;
    outline: none;
}

.todo-input button {
    background-color: #4caf50;
}

button {
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border: none;
    color: #fff;
}

#btnEdit {
    background-color: burlywood;
}

#btnSave {
    background-color: cadetblue;
}

#btnCancel {
    background-color: silver;
}

#inputEdit {
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: none;
    outline: none;
}
